<!doctype html>
<html ng-app="mApp" >
<head >
    <title>My Page</title>

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/themes/orange.css" />
    <link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css" />
    
    <link rel="stylesheet" href="./css/jquery.mobile-1.4.5.min.css"/>
    
    <script src="./js/jquery-1.8.2.min.js"></script>
    <script src="./js/jquery.mobile-1.4.5.min.js"></script>
    <script src="./js/angular.min.js"></script>
    
    <script src="./js/math.js" ></script>
    <script src="./js/myang.js"></script>
    
    <link rel="stylesheet" href="./css/myang.css" />
     
</head>
<body  ng-controller="MainController as App" >
   
    
    
	<!-- This Page is working fine. -->
<div data-role="page" id="registration" data-theme="{{App.currtheme}}">

    
	<div data-role="header">
		<h1>Page Title</h1>
		<a href="" id='exitApp' class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext">Delete</a>
	</div>
    
	<div data-role='content' >
        <fieldset data-role="controlgroup" data-type="horizontal">
            <legend > Select your theam.</legend>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" ng-model="App.currtheme" value="a" >
            <label for="radio-choice-h-2a">Silver White</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" ng-model="App.currtheme" value="b" >
            <label for="radio-choice-h-2b">Dark</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2c" ng-model="App.currtheme" value="c" checked>
            <label for="radio-choice-h-2c">Vorteil-1</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2d" ng-model="App.currtheme" value="d" >
            <label for="radio-choice-h-2d">Vorteil-2</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2e" ng-model="App.currtheme" value="e" >
            <label for="radio-choice-h-2e">Vorteil-3</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2f" ng-model="App.currtheme" value="f" >
            <label for="radio-choice-h-2f">Pink</label>
        </fieldset>
        
<!--   Your code goes here -> -->

    <ul data-role="listview" data-inset="true" data-filter="true" >
        <li data-role="list-divider">Holes <span class="ui-li-count">{{App.Holes.length}}</span></li>
        
        <li ng-repeat="Hole in App.Holes" ><a href="{{Hole.moduleName}}">
            <img src="{{Hole.image}}" class="ui-li-thumb">
            <h3>{{Hole.name}}</h3>
            <p>{{Hole.title}}</p>
            <p class="ui-li-aside">{{Hole.status}}</p>
        </a></li>
        
        
        <li data-role="list-divider">Shafts <span class="ui-li-count">{{App.Shafts.length}}</span></li>
        
        <li ng-repeat="Module in App.Shafts" ><a href="{{Module.moduleName}}">
            <img src="{{Module.image}}" class="ui-li-thumb">
            <h3>{{Module.name}}</h3>
            <p>{{Module.title}}</p>
            <p class="ui-li-aside">{{Module.status}}</p>
        </a></li>
        

    </ul>
            
<!--   Your code goes here -> -->
   
	</div>
</div><!-- /page -->

    
<div data-role="page" id="BendingShaft" data-theme="{{App.currtheme}}">
	<div data-role="header">
		<h1>Page Title</h1>
		<a href="" id='exitApp' class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext">Delete</a>
	</div>
    
	<div data-role='content' ng-modle="App.SC.BendingShart" >

<!--   Your code goes here -> -->
    <div id="input-group" class="input-group" >
        <img id="myimg" class ="myimg" src="./imges/TestImg.PNG" />    
        <p>Calculate stress concentration factor in the shoulder of a circular section of shaft subjected to bending loads.</p>
    </div>
       
    <div >
      <div class="ui-bar ui-bar-e">
        <h3>Inputs</h3>
      </div>
      <div class="ui-body-e">

        <div ng-model="App.BandingShaft"> 
            
            <fieldset data-role="controlgroup" data-type="horizontal" >
                <text class="eng-label" data-role="none" >{{App.BandingShaft._M.displayName}}: </text>
                <input ng-change="App.BandingShaft._M.value()" data-role="none" class="eng-text" type="number" ng-model="App.BandingShaft._M.val" name="text-basic" id="text-basic" data-wrapper-class="controlgroup-textinput ui-btn" placeholder ="enter value">
                <select class="eng-select" ng-model="App.BandingShaft._M.displayUnit" data-role="none" >
                    <option value="Nmm">Nmm</option>
                </select>
            </fieldset>

            <fieldset data-role="controlgroup" data-type="horizontal" >
                <text class="eng-label" data-role="none" >{{App.BandingShaft._D.displayName}}: </text>
                <input ng-change="App.BandingShaft._D.value()" data-role="none" class="eng-text" type="number" ng-model="App.BandingShaft._D.val" name="text-basic" id="text-basic" data-wrapper-class="controlgroup-textinput ui-btn" placeholder ="enter value">
                <select class="eng-select" ng-model="App.BandingShaft._D.displayUnit" data-role="none" >
                    <option value="mm">Milli Meter (mm)</option>
                    <option value="cm">Centi Meter (cm)</option>
                    <option value="m">Meter (m)</option>
                    <option value="in">inch (in)</option>
                    <option value="ft">foot (ft)</option>
                    <option value="yd">yard (yd)</option>
                </select>

            </fieldset>

            <fieldset data-role="controlgroup" data-type="horizontal" >
                <text class="eng-label" data-role="none" >{{App.BandingShaft._d.displayName}}: </text>
                <input ng-change="App.BandingShaft._d.value()" data-role="none" class="eng-text" type="number" ng-model="App.BandingShaft._d.val" name="text-basic" id="text-basic" data-wrapper-class="controlgroup-textinput ui-btn" placeholder ="enter value">
                <select class="eng-select" ng-model="App.BandingShaft._d.displayUnit" data-role="none" >
                    <option value="mm" selected>Milli Meter (mm)</option>
                    <option value="cm">Centi Meter (cm)</option>
                    <option value="m">Meter (m)</option>
                    <option value="in">inch (in)</option>
                    <option value="ft">foot (ft)</option>
                    <option value="yd">yard (yd)</option>
                </select>

            </fieldset>
            
            <fieldset data-role="controlgroup" data-type="horizontal" >
                <text class="eng-label" data-role="none" >{{App.BandingShaft._r.displayName}}: </text>
                <input ng-change="App.BandingShaft._r.value()" data-role="none" class="eng-text" type="number" ng-model="App.BandingShaft._r.val" name="text-basic" id="text-basic" data-wrapper-class="controlgroup-textinput ui-btn" placeholder ="enter value">
                <select class="eng-select" ng-model="App.BandingShaft._r.displayUnit" data-role="none" >
                    <option value="mm" selected>Milli Meter (mm)</option>
                    <option value="cm">Centi Meter (cm)</option>
                    <option value="m">Meter (m)</option>
                    <option value="in">inch (in)</option>
                    <option value="ft">foot (ft)</option>
                    <option value="yd">yard (yd)</option>
                </select>

            </fieldset>
            <fieldset data-role="controlgroup" data-type="horizontal" >
                <text class="eng-label" data-role="none" >{{App.BandingShaft._t.displayName}}: </text>
                <input  ng-change="App.BandingShaft._t.value()" data-role="none" class="eng-text" type="number" ng-model="App.BandingShaft._t.val" name="text-basic" id="text-basic" data-wrapper-class="controlgroup-textinput ui-btn" placeholder ="enter value">
                <select class="eng-select" ng-model="App.BandingShaft._t.displayUnit" data-role="none" >
                    <option value="mm" selected>Milli Meter (mm)</option>
                    <option value="cm">Centi Meter (cm)</option>
                    <option value="m">Meter (m)</option>
                    <option value="in">inch (in)</option>
                    <option value="ft">foot (ft)</option>
                    <option value="yd">yard (yd)</option>
                </select>
            </fieldset>
            <!-- <div >
                <div> t/r: {{App.BandingShaft._t_by_r()}}</div>
                <div> A1: {{App.BandingShaft.A1()}}</div>
                <div> 2t/D: {{App.BandingShaft.t2_by_D()}}</div>
                <div> Kt: {{App.BandingShaft.Kt()}}</div>
                <div> Sigma Nominal {{App.BandingShaft.SigmaNominal()}}</div>
                <div> Peak Stress: {{App.BandingShaft.PeakStress()}}</div>
            </div> 
-->
        </div>


     </div>
    </div>
        
        
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <a href="#" ng-click="App.BandingShaft.Calculate()" data-theme="d" data-role="button">Calculate</a>
        </div>
        <div class="ui-block-b">
            <a href="#" ng-click="App.BandingShaft.Calculate()" data-theme="d" data-role="button">Reset</a>
        </div>
    </fieldset>
        
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-e">
          <h3>Outputs</h3>
      </div>
      <div class="ui-body ui-body-e">
        
          
    <fieldset data-role="controlgroup" data-type="horizontal" >
            <text class="eng-label" data-role="none" >{{App.BandingShaft._PeakStress.displayName}}: </text>
            <input disabled  ng-value="App.BandingShaft._PeakStress.val" data-role="none" class="eng-text" type="number" ng-model="App.BandingShaft._PeakStress.val" name="text-basic" id="text-basic" data-wrapper-class="controlgroup-textinput ui-btn" placeholder ="enter value">
            <text ng-model="App.BandingShaft._t.displayUnit" data-role="none" >
                Mpa
            </text>
    </fieldset>

          
    <fieldset data-role="controlgroup" data-type="horizontal" >
            <text class="eng-label" data-role="none" >{{App.BandingShaft._SigmaNominal.displayName}}: </text>
            <input disabled   data-role="none" class="eng-text" type="number" ng-model="App.BandingShaft._SigmaNominal.val" name="text-basic" id="text-basic" data-wrapper-class="controlgroup-textinput ui-btn" placeholder ="enter value">
            <text ng-model="App.BandingShaft._t.displayUnit" data-role="none" >
                Mpa
            </text>
    </fieldset>

          
      </div>
    </div>
<!--   Your code goes here -> -->
   
    </div>
</div><!-- /page -->
    
    
    

</body>
</html>