<!doctype html>
<html ng-app="mApp" >
<head >
    <title>My Page</title>

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/themes/orange.css" />
    <link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css" />
    
    <link rel="stylesheet" href="./css/jquery.mobile-1.4.5.min.css"/>
    
    <script src="./js/jquery-1.8.2.min.js"></script>
    <script src="./js/jquery.mobile-1.4.5.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="./js/myang.js"></script>
    
    <link rel="stylesheet" href="./css/myang.css" />
     
</head>
<body  ng-controller="MainController as App" >
   
    
    
	<!-- This Page is working fine. -->
<div data-role="page" id="registration" data-theme="{{App.currtheme}}">

    
	<div data-role="header">
		<h1>Page Title</h1>
		<a href="" id='exitApp' class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext">Delete</a>
	</div>
    
	<div data-role='content' >
        <fieldset data-role="controlgroup" data-type="horizontal">
            <legend > Select your theam.</legend>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" ng-model="App.currtheme" value="a" >
            <label for="radio-choice-h-2a">Silver White</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" ng-model="App.currtheme" value="b" >
            <label for="radio-choice-h-2b">Dark</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2c" ng-model="App.currtheme" value="c" checked>
            <label for="radio-choice-h-2c">Vorteil-1</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2d" ng-model="App.currtheme" value="d" >
            <label for="radio-choice-h-2d">Vorteil-2</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2e" ng-model="App.currtheme" value="e" >
            <label for="radio-choice-h-2e">Vorteil-3</label>
            <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2f" ng-model="App.currtheme" value="f" >
            <label for="radio-choice-h-2f">Pink</label>
        </fieldset>
        
<!--   Your code goes here -> -->

        
         <div data-role="listview" data-filter="true" data-filter-placeholder="Search fruits..."  class="my-page" data-role="collapsible" data-transition="slidedown" >
            <h1 > Holes</h1>
            <ul data-theme="b" data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
                <li class="ui-li-has-thumb ui-first-child"><a href="./uuuu" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Central Hole (Tension)</h2>
                    <p>Central Hole (Tension)</p>
                    <p class="ui-li-aside nw">not Working</p>
                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Central Hole (Bending)</h2>
                    <p>Central Hole (Bending)</p>

                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Out of plane Bending</h2>
                    <p>Central Hole (Out of plane Bending)</p>

                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Off Centre Hole (Tension)</h2>
                    <p>Off Centre Hole (Tension)</p>
                    <p class="ui-li-aside">not working</p>
                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Off Centre Hole (Bending)</h2>
                    <p>Off Centre Hole (Bending)</p>
                    <p class="ui-li-aside">Android</p>
                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Rectangular Hole (Tension)</h2>
                    <p>Rectangular Hole (Tension)</p>
                    <p class="ui-li-aside">not working</p>
                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Parallel Tension</h2>
                    <p>Infinite Row of Holes (Parallel Tension)</p>
                </a></li>
                <li class="ui-last-child"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">

                    <h2>Normal Tension</h2>
                    <p>Infinite Row of Holes (Normal Tension)</p>
                </a></li>
            </ul>
        </div>   
        
         <div data-role="listview" data-filter="false" data-filter-placeholder="Search fruits..."  class="my-page" data-role="collapsible" data-transition="slidedown" >
            <h1 > Holes</h1>
            <ul data-theme="b" data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
                <li class="ui-li-has-thumb ui-first-child"><a href="./uuuu" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Central Hole (Tension)</h2>
                    <p>Central Hole (Tension)</p>
                    <p class="ui-li-aside nw">not Working</p>
                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Central Hole (Bending)</h2>
                    <p>Central Hole (Bending)</p>

                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Out of plane Bending</h2>
                    <p>Central Hole (Out of plane Bending)</p>

                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Off Centre Hole (Tension)</h2>
                    <p>Off Centre Hole (Tension)</p>
                    <p class="ui-li-aside">not working</p>
                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Off Centre Hole (Bending)</h2>
                    <p>Off Centre Hole (Bending)</p>
                    <p class="ui-li-aside">Android</p>
                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Rectangular Hole (Tension)</h2>
                    <p>Rectangular Hole (Tension)</p>
                    <p class="ui-li-aside">not working</p>
                </a></li>
                <li class="ui-li-has-thumb"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <img src="./imges/Img.png" class="ui-li-thumb">
                    <h2>Parallel Tension</h2>
                    <p>Infinite Row of Holes (Parallel Tension)</p>
                </a></li>
                <li class="ui-last-child"><a href="./index.html" class="ui-btn ui-btn-icon-right ui-icon-carat-r">

                    <h2>Normal Tension</h2>
                    <p>Infinite Row of Holes (Normal Tension)</p>
                </a></li>
            </ul>
        </div>
              
<!--   Your code goes here -> -->
   
	</div>
</div><!-- /page -->
    

    
    
    

</body>
</html>