<!doctype html>
<html ng-app="mApp" >
<head >
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://andymatthews.net/code/jQuery-Mobile-Bootstrap-Theme/themes/Bootstrap.css">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
        <link rel="stylesheet" href="http://andymatthews.net/code/jQuery-Mobile-Bootstrap-Theme/themes/jquery.mobile.icons.min.css" />
        
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="./myang.js"></script>
    <link rel="stylesheet" href="./myang.css"
     
</head>
<body  ng-controller="MainController as App" >
    
	<!-- Start of registration page -->
<div data-role="page" id="registration">

	<div data-role="header">
		<h1>Register</h1>
		<a href="" id='exitApp' class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext">Delete</a>
	</div>
    
	<div data-role='content' >
    <form ng-submit="App.RegisterUserProfile()" ng-model="App.userProfile">
		<label for="textinput-1">Name*</label>
		<input type="text" required placeholder="Text input"  ng-model="App.userProfile.fname">
		<input type="text" placeholder="Last name" value="" ng-model="App.userProfile.lname">
		<label  for="textinput-5">Mobile*</label>
		<input required type="text" name="textinput-5" id="mobileinput" placeholder="Text input" ng-model="App.userProfile.mobile" >

		<label for="textinput-2">Address Line 1*</label>
		<input required type="text" name="textinput-2" id="addressinput-1" placeholder="Text input" ng-model="App.userProfile.address1">
		<label for="textinput-3">Address Line 2</label>
		<input type="text" name="textinput-3" id="addressinput-2" placeholder="Text input" ng-model="App.userProfile.address2">
		<label for="textinput-4">Address Line 3</label>
		<input type="text" name="textinput-4" id="addressinput-3" placeholder="Text input" ng-model="App.userProfile.address3">

		<label for="emailinput">Email </label>
		<input type="text" name="emailinput" id="emailinput" placeholder="Text input" ng-model="App.userProfile.email">
        <div > {{App.userProfile.fname}}</div>
        <div > {{App.userProfile.address1}}</div>
        <input type="submit" value=Submit>
   </form>
	</div>
</div><!-- /page -->
    
<!-- Start of Wellcome page  -->
<div data-role="page" id="start" >
	<div data-role="panel" id="mypanel" data-display="overlay">
	<a ng-click="App.OpenProfilePage()" data-role='button' data-icon="star" id='openprofile'> Update Profile</a>
	</div><!-- /panel -->

	<div data-role="header" id="wellcomescrn">
		<a href="#mypanel" class="ui-btn ui-shadow ui-corner-all ui-icon-gear ui-btn-icon-notext">Home</a>
		<h1>Wellcome - {{ App.userProfile.fname }}</h1>
		<a href="#start" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext">Delete</a>
		<div data-role="navbar">
			<ul>
				<li><a data-icon="star" ng-click="App.OpenNewOrderPage()">New Order</a></li>
				<li><a href="#" data-icon="grid">Order Status</a></li>
				<li><a href="#" data-icon="gear">History</a></li>
			</ul>
		</div><!-- /navbar -->
	</div>

	<div data-role='content'>
		<a align='center'><img align='center' src="start-button.jpg"/> </a>
		<p class="notice" align='center' > this application is an initial effort to provide on time service with intended quality. with this app you can easly place and schedule an order as per your conveniance. </a>  
	</div>
</div><!-- /page -->

<div data-role="page" id="profile">
	<div data-role="header" data-position="fixed">
		<h1>Profile</h1>
		<a href="" id='exitApp' class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext">Delete</a>
	</div>
	<div data-role='content' class="scrollable">
    <form ng-submit="App.UpdateProfile()" >
		<label for="textinput-1">Name*</label>
		<input type="text" required placeholder="Text input"  ng-model="App.updatedProfile.fname">
		<input type="text"  placeholder="Last name" value="" ng-model="App.updatedProfile.lname">
		<label  for="textinput-5">Mobile*</label>
		<input required type="text" name="textinput-5" id="mobileinput" placeholder="Text input" ng-model="App.updatedProfile.mobile" >

		<label for="textinput-2">Address Line 1*</label>
		<input required type="text" name="textinput-2" id="addressinput-1" placeholder="Text input" ng-model="App.updatedProfile.address1">
		<label for="textinput-3">Address Line 2</label>
		<input type="text" name="textinput-3" id="addressinput-2" placeholder="Text input" ng-model="App.updatedProfile.address2">
		<label for="textinput-4">Address Line 3</label>
		<input type="text" name="textinput-4" id="addressinput-3" placeholder="Text input" ng-model="App.updatedProfile.address3">

		<label for="emailinput">Email </label>
		<input type="text" name="emailinput" id="emailinput" placeholder="Text input" ng-model="App.updatedProfile.email">
        <div > {{App.error}}</div>
        <input type="submit"  value="Update Profile">
        <input type="button" ng-click="App.OpenStartPage()" value="Cancel" >
   </form>

	</div>
</div><!-- /page -->
 
 <!-- new order page -->
<div data-role="page" id="newOrder" >
	<div data-role="header">
		<a href="#start" class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext">Home</a>
		<h1>New Order</h1>
		<a href="" id='exitApp' class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext">Delete</a>
	</div>
	<div data-role='content'>
        <form ng-submit="App.PlaceOrder()">
            <div class="ui-field-contain">
                <label for="select-native-1">Pickup Day:</label>
                <select required ng-model="App.Order.pickupDaySelected" name="select-native-1" id="select-native-1">
                    <option ng-repeat="Day in App.Order.PickupDays" value="{{Day}}">{{ Day }}</option>
                </select>
            </div>
            <div class="ui-field-contain">
                <label >Pickup Time:</label>
                <select required ng-model="App.Order.pickupTimeSelected" >
                    <option ng-repeat="time in App.Order.PickupTimes" value="{{time}}">{{ time }}</option>
                </select>
            </div>
            <div> {{ App.Order.dayOfMonth()}}  </div>
            <div> {{ App.Order.dayOfWeek()}}  </div>
            <div> {{ App.Order.dayOfOrderPickup()}}  </div>
            <div>Pickup Date: {{ App.Order.PickUpDate.getMonth()+1}}. {{ App.Order.PickUpDate.getDate()}}.{{ App.Order.PickUpDate.getFullYear()}}    </div>
            <div> {{ App.Order.PickUpDate}}  </div>
            <div> Pickup Time:  {{ App.Order.pickupTime}}  </div>
            
            <input type="submit" value="Place Order" />
        </form>
        <!-- <div> Pickup on <strong> {{App.Order.pickupDaySelected}}  @ {{App.Order.pickupTimeSelected}}</strong></div> -->
     </div>
</div>

    
<div data-role="page" id="confirmOrder">
	<div data-role="header">
		<a href="#start" class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext">Home</a>
		<h1>Confirm Order</h1>
		<a href="" id='exitApp' class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext">Delete</a>
	</div>
	<div data-role='content'>	
		
        <div class="ui-corner-all custom-corners">
          <div class="ui-bar ui-bar-a">
            <h3>Order Detail</h3>
          </div>
          <div class="ui-body ui-body-a" ng-modle="App.Order">
            <p>Thanks for the ordering. please corifm your order details below. Pickup will be performed on 
                <strong> {{ App.Order.PickUpDate.getMonth()+1}}. {{ App.Order.PickUpDate.getDate()}}.{{ App.Order.PickUpDate.getFullYear()}} 
                </strong>  between 
                <strong>{{ App.Order.pickupTime}}
                </strong> </p>
          </div>

        </div>

        <div class="ui-corner-all custom-corners">
          <div class="ui-bar ui-bar-a">
            <h3>Pickup Location</h3>
          </div>
          <div class="ui-body ui-body-a">
            <p>Pickup From Address <strong id='pickupadd'>{{ App.userProfile.address1}}, {{ App.userProfile.address2}}, {{ App.userProfile.address3}} </strong>and Mobile#<strong id='pickupmobile'> {{ App.userProfile.mobile}}</strong> </p>
          </div>
        </div>
        <div>
            <p class="notice"> if any of the above details are not correct the please update them from your profile/neworder oprion and place your order again. Thank you! </p>
        </div>
		 <a ng-click="App.OnConfirmOrder()" data-role='button' data-icon="lock">Cofirm Order</a>
		 <a id='confirmationFail' data-role='button' data-icon='back'   > Cancel </a> 
    </div>
</div>

</body>
</html>