.notice {
    font-size: 0.75em;
    color: darkblue;
}

.fixed-div {
    width: 100%;
    height: 300px;
    background: green;
    position: 'relative'
}
.fixed-child {
    position: 'absolute';
    font-size: 36;
    color: red;
    min-width: 50;
    
};